/* img{
    width: 50px;
    height: 50px;
} */

body{
    font-family: 'Oswald', sans-serif;
}

.nav-logo-name{
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-logo-img{
    width:100px;
    height: 100px;   
}

